/* ******* Header  section ****** */
.nav-item .nav-link{
    position: relative;
}
.nav-item .nav-link::before{
    content: '';
    width:0px;
    height:2px;
    background-color: #343434;
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: bord-link 1s infinite alternate;
}
@keyframes bord-link{
    0% {width:0%;}
    20% {width:20%;}
    40% {width:40%;}
    60% {width:50%;}
    80% {width:60%;}
    100% {width:70%;}
}
.nav-link:hover::before{
    opacity: 1;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:100%;
}

header .contentHeader h1 {
    color: white;
    font-size: 3rem;
    font-family: Montserrat, sans-serif;
}
header .contentHeader h2 {
    color: white;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
}
@keyframes typing {
    0% {content: " |"}
    2% {content: " D|"}
    4% {content: " De|"}
    6% {content: " Des|"}
    8% {content: " Desi|"}
    10% {content: " Desig|"}
    12% {content: " Design|"}
    14% {content: " Designe|"}
    16% {content: " Designer|"}
    18% {content: " Designe|"}
    20% {content: " Design|"}
    22% {content: " Desig|"}
    24% {content: " Desi|"}
    26% {content: " Des|"}
    28% {content: " De|"}
    30% {content: " D|"}
    32% {content: " |"}
    34% {content: " D|"}
    36% {content: " De|"}
    38% {content: " Dev|"}
    40% {content: " Deve|"}
    42% {content: " Devel|"}
    44% {content: " Develo|"}
    46% {content: " Develop|"}
    48% {content: " Develope|"}
    50% {content: " Developer|"}
    52% {content: " Develope|"}
    54% {content: " Develop|"}
    56% {content: " Develo|"}
    58% {content: " Devel|"}
    60% {content: " Deve|"}
    62% {content: " Dev|"}
    64% {content: " De|"}
    66% {content: " D|"}
    68% {content: " |"}
    70% {content: " L|"}
    72% {content: " La|"}
    74% {content: " Larr|"}
    76% {content: " Larry|"}
    78% {content: " Larry D|"}
    80% {content: " Larry Da|"}
    82% {content: " Larry Dan|"}
    84% {content: " Larry Dani|"}
    86% {content: " Larry Danie|"}
    88% {content: " Larry Daniel|"}
    90% {content: " Larry Daniels"}
    91% {content: " Larry Daniel|"}
    92% {content: " Larry Danie|"}
    93% {content: " Larry Dani|"}
    94% {content: " Larry Dan|"}
    95% {content: " Larry Da|"}
    96% {content: " Larry D|"}
    97% {content: " Larry|"}
    98% {content: " Larr|"}
    99% {content: " La|"}
    100% {content: " L|"}
}
@keyframes type2 {
    0% {content: " Designer|"}
    10% {content: " |"}
    12% {content: " Developer|"}
    15% {content: " |"}
    17% {content: " Larry Daniels|"}
    20% {content: " |"}
    22% {content: " Designer|"}
    25% {content: " |"}
    27% {content: " Developer|"}
    30% {content: " |"}
    32% {content: " Larry Daniels|"}
    35% {content: " |"}
    37% {content: " Designer|"}
    40% {content: " |"}
    43% {content: " Developer|"}
    45% {content: " |"}
    47% {content: " Larry Daniels|"}
    50% {content: " |"}
    52% {content: " Designer|"}
    55% {content: " |"}
    57% {content: " Developer|"}
    60% {content: " |"}
    65% {content: " Larry Daniels|"}
    67% {content: " |"}
    70% {content: " Designer|"}
    72% {content: " |"}
    73% {content: " Developer|"}
    75% {content: " |"}
    77% {content: " Larry Daniels|"}
    80% {content: " |"}
    83% {content: " Designer|"}
    84% {content: " |"}
    88% {content: " Developer|"}
    92% {content: " |"}
    97% {content: " Larry Daniels|"}
    100% {content: " |"} 
}
header .contentHeader h2::after {
    content: " ";
    color: white;
    font-weight: 500;
    animation: type2 25s infinite alternate;
}

.social-icons .icon-cont{
    width:30px;
    height:30px;
    color:#f7f7f7;
    background-color: #343434;
}
/* ******* about  section ****** */
.about .about-img{
    position: relative;
    margin-bottom: 30px;
}
.about .about-img:after {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.progress{
    height: 25px;
    background-color: rgba(211, 211, 211, 0.856);
}
.progress-bar{
    background-color: #343434;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
}
.about .btn1{
    color:lightgray; 
}
.about .btn1:hover{
    color:#343434;
    background-color:transparent;
}
.about .btn2{
    color:lightgray;
}
.about .btn2:hover{
    color:lightgray;
    background-color:#343434;
}
.about-cont h3{
    color:#343434;
    font-weight: 800;
    font-family:Montserrat, sans-serif;
}
.about-cont p{
    font-family:Poppins, sans-serif;
    font-weight: 400;
}
/* ******* services  section ****** */
.services{
    background-color: #f7f7f7;
}
.services .serv-icons{
    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #f4f4f4;
    transition: all .5s;
}
.services .serv-item:hover .serv-icons {
    color: #f4f4f4;
    background-color: black;
}
/* ******* portfolio  section ****** */
.constTitle h3{
    color:#343434;
    font-size: 2.5rem;
    font-weight: 800;
    position: relative;
    display: inline-block;
    z-index: 9;
}
.constTitle h3:after {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.portfolio .nav-item .nav-link{
    color:#343434;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}

/* .portfolio .nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #343434;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all .4s;
} */
.porto-icons .ficon{
    width:30px;
    height:30px;
    font-size:.8rem;
    border: 1px solid #343434;
    border-radius: 50%;
    color:lightgray;
    background-color:#343434;
}
.porto-icons .ficon:hover{
    color:#343434;
    background-color:transparent;
    font-weight: 100;  
}
.porto-item .porto-layer{
    top:10px;
    bottom: -10px;
    background-color: rgba(253, 253, 253,.9);
    transition: .3s all ease-out;
    opacity: 0;
}
.porto-item :hover.porto-layer{
    opacity: 1;
    top:0 !important;
    bottom:0 !important;

}
.porto-item .porto-layer .porto-icons{
    margin-top:30px ;
    transition: .7s all ease-in-out;
}
.porto-item .porto-layer:hover .porto-icons{
    margin-top: 10px !important;
}
/* ******************testmonial */
.testmonial{
    background-color: #f7f7f7;
}
.testmonial .carousel-indicators button{
    width:11px;
    height:11px;
    border-radius: 50%;
}

.testmonial .carousel-item .caroCont{
   font-family:Poppins, sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 1.5rem;
}
/* ******************testmonial */
.count .count-item h3{
color: #343434;
font-weight: 900;
font-family: Montserrat, sans-serif;
}
.count .count-item .fa{
    font-size:1.9rem !important;
    color: #343434;
}
/* ******************blog */
.Blog{
    background-color: #f7f7f7;
}
.Blog .carousel-indicators button{
    width:10px;
    height:10px;
    border-radius: 50%;
    margin:0px 7px 0px 7px;
    background-color: gray;
}
.Blog .card .imgBlog img{
    width: 100%;
    transition: transform .3s;
}
.Blog .card:hover img{
transform:scale(1.15);
} 

/* ******************contact */
.contact{
    background-color: #ffff;
}

.contact .count-item .cont-icons{
    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #f4f4f4;
    transition: all .5s;   
}
.contact .count-item:hover .cont-icons {
    color: #f4f4f4;
    background-color: black;
}
.cont-info .fname ,.cont-info .uEmail{
    width:47%;
    background-color:#f4f4f4 ;
}
.cont-info textarea{
    background-color:#f4f4f4 ;
}
.cont-info .cont-btn{
    color:lightgray;
    width:12%; 
}
.cont-info .cont-btn:hover{
    color:#343434;
    background-color:transparent;
}


/* //////////////////Media /////////////// */

/* ----------------------Media query-------------------- */
@media screen and (max-width:576px) {
    header .contentHeader h1 {
        font-size: 1rem;
    }
    header .contentHeader h2 {
        font-size: 20px;
    
}
.count .count-item h3{
    font-weight: 600;
    }
    .cont-info .cont-btn{
        width:25%; 
    } 
}
/* ****************************  */

@media screen and (min-width:577px) and (max-width:768px) {
    header .contentHeader h1 {
        font-size: 1.5rem;
    }
    header .contentHeader h2 {
        font-size: 30px;    
}
.count .count-item h3{
    font-weight: 700;
    }

    .cont-info .fname ,.cont-info .uEmail{
        width:100%;
    }

    .cont-info .cont-btn{
        width:20%; 
    }
}
/* ****************************  */

@media screen and (min-width:769px) and (max-width:992px) {
    header .contentHeader h1 {
        font-size: 2.5rem;
    }
    header .contentHeader h2 {
        font-size: 40px;    
}
.count .count-item h3{
    font-weight: 800;
    }

    .cont-info .fname ,.cont-info .uEmail{
        width:100%;
    }

    .cont-info .cont-btn{
        width:15%; 
    }
}
/* ****************************  */
@media screen and (min-width:993px) and (max-width:1200px) {
   
    header .contentHeader h2 {
        font-size: 40px;    
}

.about .about-img:after {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -8px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.cont-info .fname ,.cont-info .uEmail{
    width:100%;
}

.cont-info .cont-btn{
    width:15%; 
}
}

/* ****************************  */

@media screen and (min-width:1201px) {
}